@media(min-width: 768px) {
 .news-input {
  width: 50%;
  }
}

.btn {
 font-weight: 600;
}

.card-title,
.navbar-brand {
 text-decoration: underline;
 text-transform: uppercase;
 font-weight: 500;
}

.card {
 border-radius: 15px;
}